<div id="<%= dom_id monument %>">
  <p>
    <strong>Name:</strong>
    <%= monument.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= monument.address %>
  </p>

  <p>
    <strong>Opening date:</strong>
    <%= monument.opening_date %>
  </p>

</div>
